/* header */
.header {
    background-color: var(--primaryColor);
}
.navbar-nav a {
    color: var(--textColor-black);
}
.navbar-nav a:hover,
.navbar-nav a.active{
    color: var(--secondaryColor);
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 30px;
    padding-left: 30px;
}
.banner .libraryButton {
    display: inline;
}

.Librarynavbar .form-control {
    border-radius: 0;
    border: 1px solid var(--textColor-black);
    background: transparent;
    width: 280px;
    max-width: 100%;
}
.Librarynavbar .form-control::placeholder {
    color: var(--textColor-black);
}
.navbar-brand {
    margin-right: 60px;
}
.banner .banner-title {
    margin-bottom: 30px;
    width: 420px;
    max-width: 100;
}
.banner {
    padding-top: 130px;
    padding-bottom: 180px;
    line-height: 54px;
}
.left-banner,
.right-banner {
    width: 50%;
    z-index: 1;
}
.left-banner .main-title {
    width: 400px;
    max-width: 100%;
    margin-bottom: 45px;
}
.left-banner .sub-title {
    width: 410px;
    max-width: 100%;
    margin-bottom: 45px;
}
.banner-img{
   width: 500px;
   right: 16px;
   z-index: 0;
   top: 120px;
   /* bottom: -120px; */
}
.right-banner-library,
.right-banner-store {
    background: var(--secondaryColor);
    width: 240px;
    height: 80px;
    border-radius: 10px;
    top: -10px;
    left: -50px;
}
.right-banner-store {
    top: 100px;
    left: 50px;
    width: 260px;
}
.right-banner-library img,
.right-banner-store img {
    margin-right: 15px;
}
.right-banner-library p,
.right-banner-store p {
    color: var(--textColor-white);
}
/* header */

/* Why Choose Us */
.why-choose-us {
    z-index: 1;
    margin-top: -105px;
}
.why-choose-us .sub-title {
    color: var(--textColor-white);
    border-bottom: 1px solid var(--textColor-white);
    padding-bottom: 30px;
}
.why-choose-us .wrapper {
    background: var(--secondaryColor);
    padding: 30px 120px;
    border-radius: 25px;
}
.why-choose-us  .choose-item {
    width: 33.3%;
    border-right: 1px solid var(--textColor-white);
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.why-choose-us  .choose-item:last-child {
    border-right: none;
}
.why-choose-us .choose-item-icon {
    background: var(--textColor-white);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 0 auto;
}
.why-choose-us i {
    font-size: 24px;
    color: var(--secondaryColor);
}
.why-choose-us  p {
    color: var(--textColor-white);
    width: 205px;
    margin: 0 auto;
    padding-top: 30px;
}
/* Why Choose Us */

/* latest-libraries */
.latest-libraries {
    padding-top: 80px;
    padding-bottom: 100px;
}
.latest-libraries .libraryButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
/* latest-libraries */

/* latest-book-store */
.latest-book-store {
    background: var(--primaryColor);
}

.book-store-bg-img {
    width: 120px;
    opacity: .5;
}
.first-book-store-img {
    top: 10px;
    left: 10px;
}
.second-book-store-img {
    bottom: 10px;
    right: 10px;  
}
/* latest-book-store */

/* our partners */
section.our-partners {
    padding-top: 80px;
    padding-bottom: 80px;
}
.our-partners .wrapper {
    border: 1px solid var(--secondaryColor);
    background: var(--primaryColor);
    margin-top: 40px;
}
.our-partner-left {
    padding: 46px 40px;
    text-align: center;
}
.our-partner-left  h5,
.our-partner-left  p{
    margin-bottom: 25px;
}
.partner-logo {
    width: 33.33%;
}
.partner-logo img {
    width: 50%;
}
.our-partner-right  {
    padding: 80px 40px;
}
.our-partner-right .partner-logo-wrapper:first-child {
    margin-bottom: 30px;
}
/* our partners */

/* Footer */
.footer {
    background: var(--primaryColor);
    padding: 60px 0;
}
.footer-link a {
    color: var(--textColor-black);
    transition: .3s ease-in-out;
}
.footer-link a:hover {
    color: var(--secondaryColor);
    transition: .3s ease-in-out;
}
.footer-link a::after {
    content: '|';
    padding-left: 20px;
    padding-right: 20px;
}

.footer-link a:last-child::after {
    content: '';
}
.footer-social-link a {
    background: var(--secondaryColor);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    transition: .3s ease-in-out;
}
.footer-social-link a:hover {
    background: var(--textColor-white);
    transition: .3s ease-in-out;
}
.footer-social-link a:hover i {
    color: var(--textColor-black);
}
.footer-social-link i {
    color: var(--textColor-white);
}
.footer .row:nth-child(1) {
    margin-bottom: 40px;
}
/* Footer */